In [15]:
import pandas as pd

In [24]:
flights = pd.read_csv("flights.csv")
flights

,index,Airline,Date_of_Journey,Source,Destination,Dep_Time,Duration,Total_Stops,Additional_Info,Price
0,0,Jet Airways,2019-01-03,Banglore,New Delhi,11:40,13h 5m,1 stop,No info,26890
1,1,SpiceJet,2019-01-03,Banglore,New Delhi,15:35,8h 5m,1 stop,1 Long layover,7744
2,2,Jet Airways,2019-01-03,Banglore,New Delhi,8:00,12h 20m,1 stop,No info,27992
3,3,Air India,2019-01-03,Banglore,New Delhi,8:50,39h 5m,2 stops,No info,17135
4,4,Jet Airways,2019-01-03,Banglore,New Delhi,11:40,23h 45m,1 stop,No info,25735
...,...,...,...,...,...,...,...,...,...,...
10678,10678,Multiple carriers,2019-12-06,Delhi,Cochin,9:15,9h 45m,1 stop,No info,11622
10679,10679,IndiGo,2019-12-06,Kolkata,Banglore,8:10,4h 50m,1 stop,No info,5069
10680,10680,Jet Airways,2019-12-06,Delhi,Cochin,22:50,20h 10m,1 stop,No info,14714
10681,10681,Air Asia,2019-12-06,Kolkata,Banglore,7:35,15h 55m,1 stop,No info,5192
10682,10682,Jet Airways,2019-12-06,Delhi,Cochin,21:50,6h 35m,1 stop,In-flight meal not included,10262

In [17]:
import pymysql
con = pymysql.connect(host = "localhost",password = 'campusx',user = 'root',database ='flight_38')

In [22]:
from sqlalchemy import create_engine
import sqlalchemy

In [23]:
engine = create_engine("mysql+pymysql://root:campusx@localhost/flight_38")
flights.to_sql("flights", con=engine)

10683

In [25]:
flights_v1 = pd.read_csv("flights_v1.csv")
flights_v1

      level_0;"index";"Airline";"Date_of_Journey";"Source";"Destination";"Dep_Time";"Duration";"Total_Stops";"Additional_Info";"Price";"departure";"duration_mins";"arrival"
0      0;0;"Jet Airways";"2019-01-03";"Banglore";"New...
1      1;1;"SpiceJet";"2019-01-03";"Banglore";"New De...
2      2;2;"Jet Airways";"2019-01-03";"Banglore";"New...
3      3;3;"Air India";"2019-01-03";"Banglore";"New D...
4      4;4;"Jet Airways";"2019-01-03";"Banglore";"New...
...                                                  ...
10678  10678;10678;"Multiple carriers";"2019-12-06";"...
10679  10679;10679;"IndiGo";"2019-12-06";"Kolkata";"B...
10680  10680;10680;"Jet Airways";"2019-12-06";"Delhi"...
10681  10681;10681;"Air Asia";"2019-12-06";"Kolkata";...
10682  10682;10682;"Jet Airways";"2019-12-06";"Delhi"...

[10683 rows x 1 columns]